.container {
  flex: 1;
  margin: 5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 2rem;
  width: 100%;
  padding: 2rem;
}

.details-1 #topic {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin-top: 0;
}

.details-1 .row-1 {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  padding: 1rem;
  /* flex-wrap: wrap; */
  /* border-style: solid; */
  /* width: 100%; */
}

.details-1 .row-1 .img-container {
  padding: 1rem;
  /* border-style: solid; */
  margin: 1rem;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.details-1 .row-1 .img-container:hover {
    color: #fff;
    /* background-color: #ffde95; */
    background: linear-gradient(135deg, #ffde95 10%, #1c82ad);
    border-radius: 2rem;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.details-1 .row-1 .img-container .img {
  height: 120px;
  width: 120px;
}

.details-1 .row-1 .img-container p {
  margin-left: 1.3rem;
  font-size: 1.1rem;
}

.details-1 .row-1 .img-container .img-1 {
  width: 120px;
  height: 100px;
  margin-top: 0.7rem;
}

.details-1 .row-1 .img-container #id-html {
  margin-top: 1.7rem;
  margin-left: 2.5rem;
}

.details-1 .row-1 .img-container #id-react {
    margin-left: 2.5rem;
  }

.details-1 .row-1 .img-container #id-java {
  margin-left: 2.5rem;
}

.details-1 .row-1 .img-container #id-python {
  margin-left: 2rem;
}

.details-1 .row-1 .img-container #id-sql {
  margin-left: 2.5rem;
}

.details-1 .row-1 .img-container #id-php {
  margin-left: 2.5rem;
}

.details-1 .row-1 .img-container #id-figma {
  margin-left: 2.5rem;
}
