.container-skills {
  flex: 1;
  margin: 2.5rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border-radius: 2rem; */
  width: 100%;
  padding: 1rem;
  margin-left: 1rem;
}

.details-1 #topic {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  /* padding: 0.5rem; */
  /* margin-bottom: 1rem; */
  /* margin-top: 0.5rem; */
  margin: 1rem 45rem 1rem 0;
}

.details-1 .row-1 {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
  /* padding: 1rem; */
}

.details-1 .row-1 .img-container {
  padding: 1rem;
  /* border-style: solid; */
  margin: 1rem;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.details-1 .row-1 .img-container:hover {
  color: #fff;
  background: linear-gradient(135deg, #C80036 10%, #FFF5E1);
  opacity: 0.8;
  border-radius: 2rem;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details-1 .row-1 .img-container .img {
  height: 85px;
  width: 85px;
}

.details-1 .row-1 .img-container p {
  /* margin-left: 1.3rem; */
  font-size: 1.1rem;
}

.details-1 .row-1 .img-container .img-1 {
  width: 90px;
  height: 70px;
  margin-top: 0.5rem;
}

.details-1 .row-1 .img-container #id-html {
  margin-top: 1.7rem;
  margin-left: 1.2rem;
}

.details-1 .row-1 .img-container #id-react {
  margin-left: 1.2rem;
}

.details-1 .row-1 .img-container #id-css,#id-java,#id-php {
  margin-left: 1.5rem;
}

.details-1 .row-1 .img-container #id-python, #id-figma {
  margin-left: 1rem;
}

.details-1 .row-1 .img-container #id-sql {
  margin-left: 1.7rem;
}

@media screen and (max-width: 1000px) {
    .container {
      margin: 2rem;
    }
  
    .details-1 .row-1 {
      flex-direction: column;
      align-items: center;
    }
  
    .details-1 .row-1 .img-container {
      margin: 1rem 0;
    }
  
    .details-1 .row-1 .img-container p {
      margin-left: 0;
      text-align: center;
    }
  }
