/* If you need a background image for the header, uncomment this
.App-header {
    background-image: url("../Pics/background1.jpg");
}
*/

.App {
  flex: 1;
  background-color: black;
}

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1.6px 8px rgba(0, 0, 0, .2);
  z-index: 1000;
  /* background-image: url("../Pics/background1.jpg"); */
}

.navbar a {
    word-spacing: -0.5em; /* Adjust the value as needed */
}
